/* Global */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
@import "reset.css"

* {
    box-sizing: border-box;
}
body {
    font-family: Mulish, Roboto, sans-serif;
}
.conteiner {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.conteiner-full {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.white-logo {
    color: white;
    padding-right: 12px;

}
.button {
    min-width: 200px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    font-family: inherit;
    color: #458FF6;
    background-color: white;
    border: 1px solid #458FF6;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
}
.text-center {
    display: flex;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.56;
    color: #000000;
}
.title::after {
    display: block;
    content: '';
    width: 56px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
    margin-top: 26px;
}
.title-center {
    text-align: center;
}
.text-center::after {
    margin-left: auto;
    margin-right: auto;
}


/* header */
header {
    padding-top: 56px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 12px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.logo span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25; 
    color: #233348;
}
.n-list {
    display: flex;
}
.n-list li {
    margin-right: 40px;
}
.n-list li:last-child {
    margin-right: 0px;
}
.n-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.28;
    color: #1F1534;
    opacity: 0.5;
}
.n-link-entered {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.28;
    color: #1F1534;
}

/*Hero*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}
.hero-content {
    margin-right: 110px;
}
.hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.17;
    color: #000000;
    margin-bottom: 24px;
}
.hero-content p {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.52;
    color: #7D7987;
    margin-bottom: 45px;
}
.button-filled {
    background: #458FF6;
    color: white;
}

/* Services */
.services h2 {
    margin-bottom: 33px;
}
.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #7D7987;
}
.services > p {
    margin-bottom: 80px;
    width: 952px;
    margin-left: auto;
    margin-right: auto;
}
.services-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 70px;
}
.services-cards li {
    width: 350px;
    height: 354px;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.img1 {
    width: 92px; 
    height: 90px;
    margin-top: 54px;
    margin-left: 37px;
}
.img2 {
    width:62px; 
    height: 85px;
    margin-top: 62px;
    margin-left: 37px;
}
.img3 {
    width: 67px; 
    height: 95px;
    margin-top: 47px;
    margin-left: 38px;
}
.img4 {
    width: 67px; 
    height: 95px;
    margin-top: 46px;
    margin-left: 40px;
}
.img5 {
    width: 80px; 
    height: 85px;
    margin-top: 59px;
    margin-left: 40px;
}
.img6 {
    width: 67px; 
    height: 95px;
    margin-top: 52px;
    margin-left: 38px;
}
.services-cards h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 2.33;
    color: #000000;
    padding-left: 38px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.services-cards p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #7D7987;
    padding-left: 39px;
    
    padding-right: 50px;
    margin-top: 1px;
}
.services-cards li:last-child {
    margin-right: 0px;
    height: 354px;
}
.content-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 220px;
}

/* 1st-photo section */

.first-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 229px;
}
.first-photo-content {
    margin-left: 100px;   
}
.first-title::after {
    margin-left: 0;
    margin-right: 0;
}
.first-photo-content h2 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}
.first-photo-content p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    color: #7D7987;
    margin-bottom: 44px;
    margin-top: 31px;
}   
.content-1st {
    display: flex;
    flex-wrap: wrap;
}

/* 2nd-photo section*/
.second-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 251px;
}
.second-photo-content {
    margin-right: 123px;
}
.second-title::after {
    margin-left: 0;
    margin-right: 0;
}
.second-photo-content h2 {
    font-weight: bold; 
    font-size: 36px;
    line-height: 1.33;
    color: #000000;
}
.content-2nd {
    display: flex;
    flex-wrap: wrap;
}
.second-photo-content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    color: #7D7987;
    margin-bottom: 44px;
    margin-top: 31px;
}
.arrow {
    margin-left: 15px;
}
/* Testimonial section */

.testimonial {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
}
.testim-title {
    color: white;
    padding-top: 64px;
    text-align: center;
}
.testim-title::after {
    background-color: white;
}
.testim-content {
    display: flex;
}
.avatar {
    margin-bottom: 79px;
    margin-left: 118px;
    margin-right: 33px;
}
.testim-content h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 2.18;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-right: 110px;
}
.work {
    font-weight: normal;
    font-size: 18px;
    line-height: 2.67;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 0px;
}
.quote {
    font-weight: normal;
    font-size: 19px;
    line-height: 1.58;
    color: rgba(255, 255, 255, 0.9);
    width: 420px;
    height: 120px;
}
.dots_arrow {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.dots_arrow img {
    margin-left: 90px;
    margin-right: 90px;
}

/* Last section */
.latest-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.56;
    color: #000000;
    margin-top: 222px;   
}
.latest-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}
.last-cards {
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-right: 35px;
    margin-top: 79px;
    padding-bottom: 37px;
}
.arrowread {
    margin-left: 10px;
}
.last-cards:last-child {
    margin-right: 0;
}
.last-cards h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 1.52;
    color: #000000;
    padding-left: 33px;
    padding-right: 56px;
    margin-top: 24px;
}
.last-cards p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #7D7987;
    padding-left: 33px;
    padding-right: 56px;
    margin-top: 12px;
}
.last-cards a {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
    color: #4089ED;
    padding-left: 33px;
    margin-top: 25px;
    padding-bottom: 35px;
}
.view-all {
    display: flex;
    flex-wrap: wrap;
    margin-top: 69px;
    justify-content: center;
}

/* Footer */
footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 204px;
    color: white;
}
.logo-footer {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    color: #FFFFFF;
    margin-top: 118px;
}
.credentials p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
}
.credentials {
    display: flex;
    justify-content: space-between;
    width: 395px;
    margin-top: 118px;
    margin-bottom: 119px;
}
.credentials ul {
    padding-left: 0;
    padding-top: 0;
}
.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 118px;
}
